<header class="mb-8">

    this is a {{ shop.name }}
    <nav class="flex flex-row justify-around">
        {% for link in linklists.main-menu.links %}
            <div>
                {% if link.levels ==0 %}
            <p class="underline">{{ link.title | upcase | link_to: link.url }}</p>
                    {% else %}
                    {% for sublink in link.links %}
                        <p class="underline">{{ sublink.title | upcase | link_to: sublink.url }}</p>
                    {% endfor %}
                {% endif %}

            </div>
        {% endfor %}
    </nav>

    <hr>
</header>