<!doctype html>
<html lang="en">
<head>
    <title>t</title>
    {{ content_for_header }}
    {{ 'tailwind.css' | asset_url | stylesheet_tag }}

</head>
<body class="m-8">

    {% render 'header' %}

{{ content_for_layout }}

</body>
</html>